@import '_setting';
#wrap{
    height: 100%;
}

.header{
    position: fixed;
    left: 0; top: 0;
    display: grid;
    grid-template-columns: 174px 1fr;
    width: 100%;
    height: 88px;
    background-color: transparent;
    z-index: 999;
    &.slide_on{
        .logo{
            a{
                background-image: url('/images/svg/icon_logo_black_78x23.svg');
            }
        }
        .gnb_nav{
            ul{
                li{
                    a{
                        color: #000;
                    }
                }
            }
        }
    }
    .logo{
        padding: 35px 48px 0;
        a{
            display: block;
            width: 78px;
            height: 23px;
            background: url('/images/svg/icon_logo_white_78x23.svg') no-repeat 0 0;
            transition: background .3s ease;
            font-size: 0;
        }
    }
    .gnb_nav{
        padding: 36px 14px 0;
        ul{
            display: flex;
            justify-content: flex-end;   
            li{
                a{
                    position: relative;
                    display: inline-block;
                    margin: 0 24px;
                    padding: 0 10px;
                    font-size: 18px;
                    font-weight: 500;
                    color: #fff;
                    transition: color .3s ease;
                    &.point{
                        &::after{
                            content: '';
                            position: absolute;
                            right: 0; top: -4px;
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            background-color: #ff2c2c;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }
}