html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: none 0;
    border-spacing: 0
}

body {
    font-family: $pramary-font-face;
    color: $pramary-font-color;
    font-size: $pramary-font-size;
    background-color: $pramary-bg-color;
    line-height: 1;
    font-weight: $pramary-font-weight;
    letter-spacing: 0;
}

header,
section,
article,
nav,
aside,
footer,
address {
    margin: 0;
    padding: 0;
    border: none 0;
    border-spacing: 0
}

img,
fieldset,
iframe {
    border: 0
}

ol,
ul,
li {
    list-style: none
}

input,
select,
button{
    vertical-align: middle;
    font-size: $pramary-font-size;
    color: $pramary-font-color;
}
img {
    vertical-align: middle;
}
select,
textarea,
button,
input {
    font-family: $pramary-font-face;
    color: $pramary-font-color;
    outline: none;
}

i,
em,
address {
    font-style: normal
}

button {
    margin: 0;
    padding: 0;
    cursor: pointer
}

a {
    color: $pramary-font-color;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none
}

legend,
caption {
    display: none
}

input:focus,
button:focus {
    outline: none
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse
}

* {
    box-sizing: border-box
}