$pramary-font-face: 'Louis George Cafe', 'Noto Sans KR';
$pramary-font-color: #101010;
$pramary-font-size: 14px;
$pramary-font-weight: 400;
$pramary-bg-color: #fff;
$point-color: #5143d4;
$screen-mobile: 720px;
$screen-tablet: 1024px;