@font-face {
    font-family: 'Louis George Café';
    font-style: normal;
    font-weight: 400;
    src: url(LouisGeorgeCafe/LouisGeorgeCafe.woff) format('woff');
}

@font-face {
    font-family: 'Louis George Café';
    font-style: italic;
    font-weight: 400;
    src: url(LouisGeorgeCafe/LouisGeorgeCafe-Italic.woff) format('woff');
}

@font-face {
    font-family: 'Louis George Café';
    font-style: normal;
    font-weight: 700;
    src: url(LouisGeorgeCafe/LouisGeorgeCafe-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Louis George Café';
    font-style: italic;
    font-weight: 700;
    src: url(LouisGeorgeCafe/LouisGeorgeCafe-Bold-Italic.woff) format('woff');
}

@font-face {
    font-family: 'Louis George Café Light';
    font-style: normal;
    font-weight: 400;
    src: url(LouisGeorgeCafe/LouisGeorgeCafe-Light.woff) format('woff');
}

@font-face {
    font-family: 'Louis George Café Light';
    font-style: italic;
    font-weight: 400;
    src: url(LouisGeorgeCafe/LouisGeorgeCafe-Light-Italic.woff) format('woff');
}